# compiled output
**/dist
**/global-s3-assets
**/regional-s3-assets
**/open-source
**/*.zip
**/.zip
**/tmp
**/out-tsc
/templates
**/settings.js
**/packaged.template

# dependencies
**/node_modules

# testing
**/coverage
**/cypress-coverage
**/vitest-coverage
source/frontend/reports
source/frontend/src/tests/browser/**/__image_diffs__/*
source/frontend/src/tests/browser/**/__screenshots__/*
source/frontend/cypress/downloads
source/frontend/cypress/screenshots
source/frontend/cypress/snapshots/diff
source/frontend/cypress/videos
source/frontend/.cert

# e2e
**/e2e/*.js
**/e2e/*.map

# misc
**/npm-debug.log
**/testem.log
# package-lock.json
**/.vscode/settings.json
**/setenv.sh
source/frontend/.eslintcache
.temp_redpencil
bom.json

#IntelliJ
.idea
*.iml

# System Files
**/.DS_Store
*.DS_Store
**/.vscode

# Python coverage files
**/coverage.xml
**/.coverage

#nyc output
**/.nyc_output

# build
source/backend/functions/account-import-templates-api/src/global-resources.template
source/backend/functions/lambda-layers/aws_sdk/python
source/backend/functions/lambda-layers/cr_helper/python
source/backend/functions/lambda-layers/decorators/python/*
source/backend/functions/drawio/python/*
source/backend/functions/drawio/.pytest_cache
source/backend/functions/cleanup-bucket/package
source/backend/functions/cost-parser/src/setting-up-athena-integration.md

deployment/local_install.sh

# docs build
docs/build

# codebuild local testing
dynamodb_local
codebuild_build.sh
source/backend/functions/cost-parser/test/local-deploy.sh
source/backend/functions/cost-parser/test/local-invoke-read-s3.sh
source/backend/functions/cost-parser/test/local-invoke-service-cost.sh
source/backend/functions/cost-parser/test/local-invoke.sh
